
body{
	margin-left: 40px;
	margin-right: 40px;
}
.thumb{
	margin-bottom: 20px;
	padding-left: 2px;

}
.thumb-active{
	opacity: 0.5
}
.carousel-control.left{
	background-image: url(../images/left.png);
	background-repeat:no-repeat;
	top:40%;
	cursor: pointer;
	left: 2%;
	height: 40px
}
.carousel-control.right{
	background-image: url(../images/right.png);
	background-repeat:no-repeat;
	top:42%;
	cursor: pointer;
	right:2%;
	background-position: center right;
	height: 40px
}
.carousel-indicators{
	visibility: hidden;
}
#capa{
	
	width: 100%;
	margin: -12% 0;
	/* height: 400px */
}
#saida{
	width: 240px
}
#diaria{
	width: 100px
}
.lfiltro{
	font-size: 12px;
	text-align: right
}
.ltitle{
	font-size: 17px;
	text-align:left
}
.diaria{
	margin-bottom:8px;
	margin-top: 20px;
	text-align:center
}
.diaria > span {
	font-size:24px;
	/* margin-left:40% */
}
.diaria > img {
	
	margin-top:-8px
}
.preco{
	margin-bottom:8px;
	margin-top: 20px;
	text-align:center
}
.preco > span {
	font-size:25px;
	font-weight: bold;
	
}
.preco > img {
	/* margin-left:30%; */
	margin-top:-6px
}
.grid1{
	border: 1px solid rgb(220,220,220);
	
	height: 200px;
	margin-bottom: 12px
}
.grid2{
	border: 1px solid rgb(220,220,220);
	
	height: 200px;
	margin-bottom: 12px
}
.grid3{
	border: 1px solid rgb(220,220,220);
	
	height: 200px;
	margin-bottom: 12px
}
.principal{
	height: 200px;
	margin-bottom: 12px
}
.act_principal{
	border: 1px solid rgb(255,165,0);
	height: 88.4px;
	margin-bottom: 12px
}
.lbldetalhe{
	margin-top: -12px;
	text-align: center;
}
.detalhe{
	text-align: center;
}
.sl{
	cursor: pointer;
	margin-top: 8px;
}
.tam5{
	width:20%
}
.tam8{
	width:12.5%
}
#aviso{
	color:green;
	text-align: center;
	margin-top: 14px;
}
/* #preco{
	margin-top: -12px;
	text-align: center;
	font-weight: bold;
} */
#btnconfirma{
	text-align: center;
	display: block;
	margin: 0 auto;
}
#img-principal{
	max-height: 800px
}
.header{
	margin-left: 3px
}
.pfiltro{
	float: left;
padding-right: ;
margin-right: 5px;
margin-top: 4px;

}

